<div class="student-influencers">
  <div class="student-influencers_left hidden-xs hidden-sm">
    <i class="fas fa-quote-left"></i>
    <p>It was a fantastic experience which taught me a lot about myself and other people; upon reflection, the role was a key stepping stone to other managerial positions.
</p>
    <%= image_tag 'picforform2.png' %>
    <h5>Tobi Bakare</h5>
    <h6>PwC, Barclays, KPMG</h6>
    <br>
    <br>
    <p style="text-align: center;">“Nothing is more expensive than a missed opportunity.”</p>
  </div>
  <div class="student-influencers_right">
    <h2>Student Influencer Sign Up Form</h2>
    <p>
      Thank you for signing up to be one of our paid campus ambassadors. The task is simple, on selected videos over the next few months we'll email you with details of the campaign. All you'll be required to do is love the video and share it with a small caption. Once you do so send us a screenshot of the shared video and we'll pay you immediately - simple! As you'd imagine demand for our selected spaces is high and we're only selecting 50 student ambassadors! <br><br> Diversity is a core value for SIN and so these questions allow us to promote diversity and provide a range of
      videos/opportunities/posts for every member of the network. We also ask these questions to better understand our network and how to support them, regardless of their background.
    </p>
    <p class="student-influencers_right_alert"></p>
    <%= simple_form_for @student_influencer do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :phone_number %>
      <%= f.input :language_spoken, as: :check_boxes, label: 'What languages do you speak?', collection: @languages %>
      <%= f.input :degree_subject %>
      <%= f.input :university, collection: @universities %>
      <%= f.input :industrial_placement, label: 'Does your course include an industrial placement?' %>
      <%= f.input :reason_to_be_ambassador %>
      <%= f.input :social_media, as: :check_boxes, collection: @social_media %>
      <%= f.input :current_university_year, collection: @university_year %>
      <%= f.input :home_postcode %>
      <%= f.input :can_work_in_uk, label: 'Can you work in the UK?' %>
      <%= f.input :gender, collection: @genders %>
      <%= f.input :ethnicity, collection: @ethnicity%>
      <%= f.input :school_or_college_type, collection: @school_type %>
      <%= f.input :free_school_meals, collection: [ 'Yes', 'No', 'Prefer not to say'] %>
      <%= f.input :sexuality, collection: @sexuality %>
      <%= f.input :parents_university_attendance, collection: [ 'Yes', 'No', 'Prefer not to say'] %>
      <%= f.input :disabled_or_handicap, collection: [ 'Yes', 'No', 'Prefer not to say'] %>
      <%= f.input :mailing_list %>
      <%= f.button :submit %>
    <% end %>
  </div>

</div>





















