<div class="container pb60">
  <h1 class="employer-partnership-header">Employer Partnerships</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="employer-card">
        <div class="employer-card-upper" style="background-image: url(<%= image_path "capback.png" %>);">
          <%= image_tag "capgemini-logo.png", class: "employer-card-logo" %>
        </div>
        <div class="employer-card-lower">
          <div class= "navbar-button" style="width: 108px;">
            Students
          </div>
          <h3 class="employer-card-lower-header">Capgemini</h3>
          <p>How Gapgemini’s student campaign got them a 17.3% CTR.</p>
          <a href="capgemini" class="employer-link"></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="employer-card">
        <div class="employer-card-upper" style="background-image: url(<%= image_path "capback.png" %>);">
          <%= image_tag "capgemini-logo.png", class: "employer-card-logo" %>
        </div>
        <div class="employer-card-lower">
          <div class= "navbar-button" style="width: 108px;">
            Students
          </div>
          <h3 class="employer-card-lower-header">Capgemini</h3>
          <p>How Gapgemini’s student campaign got them a 17.3% CTR.</p>
          <a href="capgemini" class="employer-link"></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="employer-card">
        <div class="employer-card-upper" style="background-image: url(<%= image_path "capback.png" %>);">
          <%= image_tag "capgemini-logo.png", class: "employer-card-logo" %>
        </div>
        <div class="employer-card-lower">
          <div class= "navbar-button" style="width: 108px;">
            Students
          </div>
          <h3 class="employer-card-lower-header">Capgemini</h3>
          <p>How Gapgemini’s student campaign got them a 17.3% CTR.</p>
          <a href="capgemini" class="employer-link"></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="employer-card">
        <div class="employer-card-upper" style="background-image: url(<%= image_path "capback.png" %>);">
          <%= image_tag "capgemini-logo.png", class: "employer-card-logo" %>
        </div>
        <div class="employer-card-lower">
          <div class= "navbar-button" style="width: 108px;">
            Students
          </div>
          <h3 class="employer-card-lower-header">Capgemini</h3>
          <p>How Gapgemini’s student campaign got them a 17.3% CTR.</p>
          <a href="capgemini" class="employer-link"></a>
        </div>
      </div>
    </div>
  </div>
</div>
