<div class="container pb60">
  <h1 class="employer-header-text mt100">Employer Partnerships</h1>
  <h3 class="employer-header-subtext">Real stories from real students; because we know that’s what garners engagement. Content fit for purpose on ever-evolving digital platforms. There’s little point creating great video if no one’s watching it. So we create and distribute social video content; measuring, learning and acting on its performance.</h3>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="employer-card">
        <div class="employer-card-upper" style="background-image: url(<%= image_path "capback.png" %>);">
          <%= image_tag "capgemini-logo.png", class: "employer-card-logo-focus" %>
        </div>
        <div class="employer-card-lower">
          <div class= "navbar-button" style="width: 108px;">
            Students
          </div>
          <h3 class="employer-card-lower-header">Capgemini</h3>
          <p>How Gapgemini’s student campaign got them a 17.3% CTR.</p>
          <a href="capgemini" class="employer-link"></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="employer-card">
        <div class="employer-card-upper" style="background-image: url(<%= image_path "rafback.png" %>);">
          <%= image_tag "raf.png", class: "employer-card-logo" %>
        </div>
        <div class="employer-card-lower">
          <div class= "navbar-button" style="width: 108px;">
            Students
          </div>
          <h3 class="employer-card-lower-header">Capgemini</h3>
          <p>Coming soon..</p>
          <!-- <a href="capgemini" class="employer-link"></a> -->
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="employer-card">
        <div class="employer-card-upper" style="background-image: url(<%= image_path "gskback.png" %>);">
          <%= image_tag "gsk.png", class: "employer-card-logo" %>
        </div>
        <div class="employer-card-lower">
          <div class= "navbar-button" style="width: 108px;">
            Students
          </div>
          <h3 class="employer-card-lower-header">GSK</h3>
          <p>Coming soon...</p>
          <!-- <a href="capgemini" class="employer-link"></a> -->
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="employer-card">
        <div class="employer-card-upper" style="background-image: url(<%= image_path "nbrownback.png" %>);">
          <%= image_tag "nbrown.png", class: "employer-card-logo" %>
        </div>
        <div class="employer-card-lower">
          <div class= "navbar-button" style="width: 108px;">
            Students
          </div>
          <h3 class="employer-card-lower-header">NBrown</h3>
          <p>Coming soon...</p>
          <!-- <a href="capgemini" class="employer-link"></a> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="employers-bottom-banner">
  <h1>Let's Talk</h1>
  <div class="center">
    <p>If you’re an employer and want to find out how we could help you reach Gen Z and tell your authentic story, get in touch with us.</p>
  </div>
  <%= link_to 'Contact Us', new_employer_path, class: "navbar-button" %>
</div>
