<div class="home">
  <div class="home_first-section">
    <div class="home_first-section_video">
      <%= cl_video_tag 'https://res.cloudinary.com/hoxton-digital/video/upload/ac_none/v1552054035/first-video.mp4', autoplay: :true, loop: :true, fallback_content: "Your browser does not support HTML5 video tags.", muted: true %>
    </div>
    <div class="home_first-section_content">
      <h6>THE SOCIAL MEDIA CAREER NETWORK <br>MADE FOR STUDENTS</h6>
        <p>Make sense of careers and watch students <br>at... <span id="banner-typed-text"></span></p>

      <a href="#about" onclick="smoothScroll('about');"><i class="fas fa-angle-down arrow bounce"></i></a>
      <!-- <span>Get Started <i class="fas fa-long-arrow-alt-right"></i></span> -->
    </div>
  </div>
  <div class="home_second-section" id="about">
    <h6>ABOUT</h6>
    <div class="about-holder">
      <div class="about-text" style="margin-bottom: 50px;">
        <p>Student Inspire Network is a Gen Z led social careers network focused on preparing young people for the world of work.</p>
        <p>When we realised students weren’t engaging with careers, we sought to equip them with the tools required to tackle career issues on social platforms they use daily. As a founding team of Gen Z’ers, our vision is to be catalysts for change in the careers space - changing the way students access, engage and retain careers information.
        </p>
        <p>We are building a community of students focused and engaged in building their careers. In short, the first ever social careers organisation that integrates careers information within student culture.
        </p>
      </div>
      <div class="about-video">
        <%= cl_video_tag 'https://res.cloudinary.com/hoxton-digital/video/upload/q_30/v1552246263/Student_Inspire_Netwtok_-_preview.mp4',controls: :true, autoplay: false, fallback_content: "Your browser does not support HTML5 video tags.", width: "100%", id: "aboutVid" %>
        <div id="vidCover" class="vidCover" style="background-image: url(<%= image_path "wave.png" %>)"></div>
      </div>
    </div>
  </div>
  <div class="home_fourth-section">
    <div class="home_fourth-section_social-media">
      <a class="social-link" href="https://www.youtube.com/channel/UChKevFkejLt4borC0fiKJhA">
        <i class="fab fa-youtube"></i>
      </a>
      <a class="social-link" href="https://www.facebook.com/StudentInspireNetwork/">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a class="social-link" href="https://twitter.com/student_inspire">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="social-link" href="https://www.instagram.com/student_inspire/">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="social-link" href="https://www.linkedin.com/company/thestudentinspirenetwork/">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
    <div class="home_fourth-section_content">
      <div class="home_fourth-section_content_one hidden-xs hidden-sm">
        <h4>OUR AUDIENCE</h4>
        <p>A massive community of students, graduates, and influencers. We’re the largest video careers publisher on all of Social.</p>
      </div>
      <div class="home_fourth-section_content_two">
        <div class="home_fourth-section_content_two_counter">
          <i class="far fa-eye"></i>
          <p id="countup-target">1,000</p>
        </div>
        <p class="home_fourth-section_content_two_text">total views across all of our influencers and pages</p>
      </div>
    </div>
    <div class="home_fourth-section_bottom-text">
      <p><i>Our network consists of thousands of micro influencers, student societies and pages on Facebook and Instagram, each of which have a highly-engaged community in a select career niche.</i></p>
    </div>
  </div>

  <div class="home_fifth-section">
    <div class="home_fifth-section_one">
      <%= image_tag 'emilia-avatar.png' %>
    </div>
    <div class="home_fifth-section_two">
      <i class="fas fa-quote-left"></i>
      <p>
        It was really important to me to share my story, undertaking a Vacation Scheme at DLA Piper Dubai, as I knew it would help other students understand how to ace an application and what to expect from a career, or at least an internship, within commercial law. I couldn’t be more grateful to SIN for helping me realise what it is I want to achieve in my professional life, as well as how to do it!
      </p>
      <h6>Emilia Pell - Law Student</h6>
    </div>
  </div>
  <div class="home_sixth-section">
    <div class="home_sixth-section_one">
      <%=  image_tag 'picture-banner.png' %>
    </div>
    <div class="home_sixth-section_two">
      <p>Join our newsletter and get our weekly commercial awareness video directly to your inbox</p>
      <form action="/subscribe" method="post" id="mailing-list">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="email" name="email">
        <button>SUBMIT</button>
      </form>
    </div>
  </div>
  <div class="home_seventh-section" id="audience">
    <!-- Tab content -->
    <div id="first" class="tabcontent" style="display: block">
      <div class="tabs_second_first-tab">
        <div class="tabs_second_first-tab_left">
          <h3>For Students</h3>
          <h6>Learn.Adapt.Achieve</h6>
          <p>Are you ready to be part of the largest student careers social platform? Gaining access to exclusive video careers content from students sharing tips,tricks and hacks to securing your dream internship! We’re a social platform, find all our content on...</p>
          <div class="tabs_second_first-tab_left_social-media">
            <a class="social-link" href="https://www.youtube.com/channel/UChKevFkejLt4borC0fiKJhA">
              <i class="fab fa-youtube"></i>
            </a>
            <a class="social-link" href="https://www.facebook.com/StudentInspireNetwork/">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a class="social-link" href="https://twitter.com/student_inspire">
              <i class="fab fa-twitter"></i>
            </a>
            <a class="social-link" href="https://www.instagram.com/student_inspire/">
              <i class="fab fa-instagram"></i>
            </a>
            <a class="social-link" href="https://www.linkedin.com/company/thestudentinspirenetwork/">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
        <div class="tabs_second_first-tab_right">
          <%= image_tag 'foremployers.png', class: "hidden-xs hidden-sm" %>
        </div>
      </div>
    </div>
    <div id="second" class="tabcontent">
      <div class="tabs_second_second-tab">
        <div class="tabs_second_second-tab_left">
          <h3 style="color:white;">For Employers</h3>
          <h6>Get personal with students.</h6>
          <p>Work with us to help you tell personal stories about your brand and connect with students in our network on a personal level. To find out how Student Inspire Network can help you connect with a Gen Z Audience fill in the form below to get in touch!</p>
          <%= link_to new_employer_path do %>
            <span>Get in Touch</span>
          <% end %>
        </div>
        <div class="tabs_second_second-tab_right">
          <%= image_tag 'forstudents.png', class: "hidden-xs hidden-sm"  %>
        </div>
      </div>
    </div>
    <div class="tab">
      <button class="tablinks" style="font-weight:600;" onclick="openCity(event, 'first')">FOR STUDENTS</button>
      <button class="tablinks" style="font-weight:600;" id="anothertab" onclick="openCity(event, 'second')">FOR EMPLOYERS</button>
    </div>
  </div>

  <div class="home_eigth-section" id="student_stories">
    <div class="home_eigth-section_videos">
      <div class="video-card">
         <a href="https://www.youtube.com/watch?v=G2XkNxVe4Y0" target="_blank">
           <div class="video-card_image">
            <%= image_tag 'video-pic1.png' %>
           </div>
           <div class="video-card_content">
             <p>How I Got My Law Internship at DLA Piper</p>
             <span>Watch</span>
           </div>
         </a>
      </div>
      <div class="video-card">
         <a href="https://www.youtube.com/watch?v=TckFCzKfZ8U" target="_blank">
           <div class="video-card_image">
            <%= image_tag 'video-pic2.png' %>
           </div>
           <div class="video-card_content">
             <p>How I Got My Software Internship at Google</p>
             <span>Watch</span>
           </div>
         </a>
      </div>
      <div class="video-card">
         <a href="https://www.youtube.com/watch?v=TP3xIb9nlpQ&t=1s" target="_blank">
           <div class="video-card_image">
            <%= image_tag 'video-pic3.png' %>
           </div>
           <div class="video-card_content">
             <p>Day In The Life of A Consultant</p>
             <span>Watch</span>
           </div>
         </a>
      </div>
      <div class="video-card">
         <a href="https://www.youtube.com/watch?v=Bpi7P6yUXQ4" target="_blank">
           <div class="video-card_image">
            <%= image_tag 'video-pic4.png' %>
           </div>
           <div class="video-card_content">
             <p>How I Got My Banking Internship at JP Morgan</p>
             <span>Watch</span>
           </div>
         </a>
      </div>
    </div>
    <div class="home_eigth-section_videos" id="more-videos" style="display:none;">
      <div class="video-card">
         <a href="https://www.youtube.com/watch?v=yglVwXcmyWU" target="_blank">
           <div class="video-card_image">
            <%= image_tag 'video-pic5.png' %>
           </div>
           <div class="video-card_content">
             <p>Money or Purpose: Which is More Attractive?</p>
             <span>Watch</span>
           </div>
         </a>
      </div>
      <div class="video-card">
         <a href="https://www.youtube.com/watch?v=WiJJG3cggXs" target="_blank">
           <div class="video-card_image">
            <%= image_tag 'video-pic6.png' %>
           </div>
           <div class="video-card_content">
             <p>Asking Students Difficult Interview Questions</p>
             <span>Watch</span>
           </div>
         </a>
      </div>
      <div class="video-card">
         <a href="https://www.youtube.com/watch?v=kyVQXu6Rdyg" target="_blank">
           <div class="video-card_image">
            <%= image_tag 'video-pic8.png' %>
           </div>
           <div class="video-card_content">
             <p>My Internship At The Institute of Economic Affairs</p>
             <span>Watch</span>
           </div>
         </a>
      </div>
      <div class="video-card">
         <a href="https://www.youtube.com/watch?v=JL0bnJqmntk" target="_blank">
           <div class="video-card_image">
            <%= image_tag 'video-pic9.png' %>
           </div>
           <div class="video-card_content">
             <p>How I Got My Marketing Internship at Edelman</p>
             <span>Watch</span>
           </div>
         </a>
      </div>
      <div class="video-card">
         <a href="https://www.youtube.com/watch?v=TckFCzKfZ8U" target="_blank">
           <div class="video-card_image">
            <%= image_tag 'video-pic10.png' %>
           </div>
           <div class="video-card_content">
             <p>How I Got My Internship At Morgan Stanley</p>
             <span>Watch</span>
           </div>
         </a>
      </div>
      <div class="video-card">
         <a href="https://www.youtube.com/watch?v=qmsahq5xMD4" target="_blank">
           <div class="video-card_image">
            <%= image_tag 'video-pic11.png' %>
           </div>
           <div class="video-card_content">
             <p>How I Started My Own Business and Sold It At Uni</p>
             <span>Watch</span>
           </div>
         </a>
      </div>
    </div>
    <button id="seemore" class="home_eigth-section_button" onclick="seeMore()">See More...</button>
  </div>


  <div class="home_ninth-section">
    <h4>ADVICE FROM STUDENTS AT</h4>
    <div class="home_ninth-section_logos ticker-wrap">
      <div class="ticker">
        <div class="ticker__item">
          <%= image_tag 'google-logo.png' %>
        </div>
        <div class="ticker__item">
          <%= image_tag 'airbnb-logo.png' %>
        </div>
        <div class="ticker__item">
          <%= image_tag 'londonstock-logo.png' %>
        </div>
        <div class="ticker__item">
          <%= image_tag 'kleiner-logo.png' %>
        </div>
        <div class="ticker__item home_ninth-section_logos_jp">
          <%= image_tag 'jpmorgan-logo.png' %>
        </div>
        <div class="ticker__item">
          <%= image_tag 'goldman-logo.png' %>
        </div>
        <div class="ticker__item">
          <%= image_tag 'ibm-logo.png' %>
        </div>
        <div class="ticker__item">
          <%= image_tag 'barclays-logo.png' %>
        </div>
        <div class="ticker__item">
          <%= image_tag 'bbc-logo.png' %>
        </div>
        <div class="ticker__item">
          <%= image_tag 'airbus-logo.png' %>
        </div>
        <div class="ticker__item home_ninth-section_logos_jp">
          <%= image_tag 'shell-logo.png' %>
        </div>
        <div class="ticker__item">
          <%= image_tag 'capgemini-logo.png' %>
        </div>
        <div class="ticker__item">
          <%= image_tag 'morgans-logo.png' %>
        </div>
        <div class="ticker__item">
          <%= image_tag 'ubs-logo.png' %>
        </div>
        <div class="ticker__item">
          <%= image_tag 'jandj-logo.png' %>
        </div>
        <div class="ticker__item home_ninth-section_logos_jp">
          <%= image_tag 'bmw-logo.png' %>
        </div>
        <div class="ticker__item">
          <%= image_tag 'credits-logo.png' %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

  function openTab(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontents");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("4-tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }

</script>
<!-- <script>
  document.getElementById('tab-container').innerHTML = document.getElementById("tab-1").innerHTML;
  function showtab(tabs)
  {
    const tab=tabs;
    switch(tab) //this switch case replaces the tabContent
      {
        case "tab-1":
          document.getElementById('tab-container').innerHTML = document.getElementById("tab-1").innerHTML;
          break;
        case "tab-2":
      document.getElementById('tab-container').innerHTML = document.getElementById("tab-2").innerHTML;
          break;
        case "tab-3":
      document.getElementById('tab-container').innerHTML = document.getElementById("tab-3").innerHTML;
          break;
        case "tab-4":
      document.getElementById('tab-container').innerHTML = document.getElementById("tab-4").innerHTML;
          break;
        default:
      document.getElementById('tab-container').innerHTML = document.getElementById("tab-1").innerHTML;
          break;
      }
  }
</script> -->
<!-- <script>

  const btnContainer = document.getElementById("myDIV");

  const btns = btnContainer.getElementsByClassName("btn");

  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
    });
  }
</script> -->
<script>
  var vidCover = document.getElementById("vidCover")
  var aboutVid = document.getElementById("aboutVid")
  console.log(vidCover)
  console.log(aboutVid)
  vidCover.addEventListener("click", function() {
    vidCover.style.display = "none"
    aboutVid.play()
  });
</script>
<script>
  function openCity(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
<script>
  function seeMore() {
    var s = document.getElementById("seemore")
    var x = document.getElementById("more-videos");
    if (x.style.display === "none") {
      x.style.display = "flex";
    } else {
      x.style.display = "none";
    }
    s.style.display = "none";
  }
</script>
<script>

  function currentYPosition() {
      // Firefox, Chrome, Opera, Safari
      if (self.pageYOffset) return self.pageYOffset;
      // Internet Explorer 6 - standards mode
      if (document.documentElement && document.documentElement.scrollTop)
          return document.documentElement.scrollTop;
      // Internet Explorer 6, 7 and 8
      if (document.body.scrollTop) return document.body.scrollTop;
      return 0;
  }

  function elmYPosition(eID) {
      var elm = document.getElementById(eID);
      var y = elm.offsetTop;
      var node = elm;
      while (node.offsetParent && node.offsetParent != document.body) {
          node = node.offsetParent;
          y += node.offsetTop;
      } return y;
  }

  function smoothScroll(eID) {
      var startY = currentYPosition();
      var stopY = elmYPosition(eID);
      var distance = stopY > startY ? stopY - startY : startY - stopY;
      if (distance < 100) {
          scrollTo(0, stopY); return;
      }
      var speed = Math.round(distance / 100);
      if (speed >= 20) speed = 20;
      var step = Math.round(distance / 25);
      var leapY = stopY > startY ? startY + step : startY - step;
      var timer = 0;
      if (stopY > startY) {
          for ( var i=startY; i<stopY; i+=step ) {
              setTimeout("window.scrollTo(0, "+leapY+")", timer * speed);
              leapY += step; if (leapY > stopY) leapY = stopY; timer++;
          } return;
      }
      for ( var i=startY; i>stopY; i-=step ) {
          setTimeout("window.scrollTo(0, "+leapY+")", timer * speed);
          leapY -= step; if (leapY < stopY) leapY = stopY; timer++;
      }
    return false;
  }
</script>
