<div class="home">
  <div class="home_first-section">
    <!-- CONTENT MISSING-->
  </div>
  <div class="home_second-section">
    <!-- CONTENT MISSING-->
  </div>
  <div class="home_third-section">
    <div id="myDIV" class="tabs_first">
      <button class="btn"><a href="javascript:showtab('tab-1')"> STUDENT<br>STORIES</a></button>
      <button class="btn active"><a href="javascript:showtab('tab-2')"> SOCIAL<br>MEDIA </a></button>
      <button class="btn"><a href="javascript:showtab('tab-3')"> CONNECT<br>EMPLOYERS </a></button>
      <button class="btn"><a href="javascript:showtab('tab-4')"> COMMERCIAL<br>AWARENESS </a></button>
    </div>
    <div id="tab-container"></div>
    <div id="tab-1" style="visibility:hidden"> Dummy Content from First Tab </div>
    <div id="tab-2" style="visibility:hidden"> Find content from Second tab </div>
    <div id="tab-3" style="visibility:hidden"> Content from Third Tab will be placed here </div>
    <div id="tab-4" style="visibility:hidden"> This is the fourth Tab </div>
  </div>
  <div class="home_fourth-section">
    <div class="home_fourth-section_social-media">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-linkedin-in"></i>
      <i class="fab fa-youtube"></i>
    </div>
    <div class="home_fourth-section_content">
      <div class="home_fourth-section_content_one">
        <h4>OUR AUDIENCE</h4>
        <p>A massive community of students, graduates, and influencers. We’re the largest video careers publisher on all of Social.</p>
      </div>
      <div class="home_fourth-section_content_two">
        <div class="home_fourth-section_content_two_counter">
          <i class="far fa-eye"></i>
          <p id="counter">1,000</p>
        </div>
        <p class="home_fourth-section_content_two_text">total views across all of our influencers and pages</p>
      </div>
    </div>
    <div class="home_fourth-section_bottom-text">
      <p><i>Our network consists of thousands of micro influencers, student societies and pages on Facebook and Instagram, each of which have a highly-engaged community in a select career niche.</i></p>
    </div>
  </div>
  <div class="home_fifth-section">
    <div class="home_fifth-section_one">
      <%= image_tag 'https://images.pexels.com/photos/814822/pexels-photo-814822.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
    </div>
    <div class="home_fifth-section_two">
      <i class="fas fa-quote-left"></i>
      <p>
        It was really important to me to share my story, undertaking a Vacation Scheme at DLA Piper Dubai, as I knew it would help other students understand how to ace an application and what to expect from a career, or at least an internship, within commercial law. I couldn’t be more grateful to SIN for helping me realise what it is I want to achieve in my professional life, as well as how to do it!
      </p>
      <h6>Emilia Pell - Law Student</h6>
    </div>
  </div>
  <div class="home_sixth-section">
    <div class="home_sixth-section_one">
      <%=  image_tag 'https://images.pexels.com/photos/1181233/pexels-photo-1181233.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
    </div>
    <div class="home_sixth-section_two">

    </div>
  </div>
  <div class="home_seventh-section">
    <!-- Tab content -->
    <div id="London" class="tabcontent">
      <h3>London</h3>
      <p>London is the capital city of England.</p>
    </div>

    <div id="Paris" class="tabcontent">
      <h3>Paris</h3>
      <p>Paris is the capital of France.</p>
    </div>

    <div id="Tokyo" class="tabcontent">
      <h3>Tokyo</h3>
      <p>Tokyo is the capital of Japan.</p>
    </div>
    </div>
    <div class="tab">
      <button class="tablinks" onclick="openCity(event, 'London')">FOR STUDENTS</button>
      <button class="tablinks" onclick="openCity(event, 'Paris')">FOR EMPLOYERS</button>
    </div>
  <div class="home_eigth-section">
  </div>
  <div class="home_ninth-section">
    <h4>ADVICE FROM STUDENTS AT</h4>
    <div class="home_ninth-section_logos ticker-wrap">
      <div class="ticker">
        <div class="ticker__item">
          <%= image_tag 'google-logo.png' %>
        </div>
        <div class="ticker__item">
          <%= image_tag 'airbnb-logo.png' %>
        </div>
        <div class="ticker__item">
          <%= image_tag 'londonstock-logo.png' %>
        </div>
        <div class="ticker__item">
          <%= image_tag 'kleiner-logo.png' %>
        </div>
        <div class="ticker__item home_ninth-section_logos_jp">
          <%= image_tag 'jpmorgan-logo.png' %>
        </div>
        <div class="ticker__item">
          <%= image_tag 'goldman-logo.png' %>
        </div>
        <div class="ticker__item">
          <%= image_tag 'google-logo.png' %>
        </div>
        <div class="ticker__item">
          <%= image_tag 'airbnb-logo.png' %>
        </div>
        <div class="ticker__item">
          <%= image_tag 'londonstock-logo.png' %>
        </div>
        <div class="ticker__item">
          <%= image_tag 'kleiner-logo.png' %>
        </div>
        <div class="ticker__item home_ninth-section_logos_jp">
          <%= image_tag 'jpmorgan-logo.png' %>
        </div>
        <div class="ticker__item">
          <%= image_tag 'goldman-logo.png' %>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="bundle.js"></script>
<script>
  document.getElementById('tab-container').innerHTML = document.getElementById("tab-1").innerHTML;
  function showtab(tabs)
  {
    const tab=tabs;
    switch(tab) //this switch case replaces the tabContent
      {
        case "tab-1":
          document.getElementById('tab-container').innerHTML = document.getElementById("tab-1").innerHTML;
          break;
        case "tab-2":
      document.getElementById('tab-container').innerHTML = document.getElementById("tab-2").innerHTML;
          break;
        case "tab-3":
      document.getElementById('tab-container').innerHTML = document.getElementById("tab-3").innerHTML;
          break;
        case "tab-4":
      document.getElementById('tab-container').innerHTML = document.getElementById("tab-4").innerHTML;
          break;
        default:
      document.getElementById('tab-container').innerHTML = document.getElementById("tab-1").innerHTML;
          break;
      }
  }
</script>
<script>

  const btnContainer = document.getElementById("myDIV");

  const btns = btnContainer.getElementsByClassName("btn");

  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
    });
  }
</script>
<script>
  function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
