<div class="home">
  <div class="home_first-section">
    <!-- CONTENT MISSING-->
  </div>
  <div class="home_second-section">
    <!-- CONTENT MISSING-->
  </div>
  <div class="home_third-section">
  </div>
  <div class="home_fourth-section">
    <div class="home_fourth-section_social-media">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-linkedin-in"></i>
      <i class="fab fa-youtube"></i>
    </div>
    <div class="home_fourth-section_content">
      <div class="home_fourth-section_content_one">
        <h4>OUR AUDIENCE</h4>
        <p>A massive community of students, graduates, and influencers. We’re the largest video careers publisher on all of Social.</p>
      </div>
      <div class="home_fourth-section_content_two">
        <div class="home_fourth-section_content_two_counter">
          <i class="far fa-eye"></i>
          <p id="counter">1,000</p>
        </div>
        <p class="home_fourth-section_content_two_text">total views across all of our influencers and pages</p>
      </div>
    </div>
    <div class="home_fourth-section_bottom-text">
      <p><i>Our network consists of thousands of micro influencers, student societies and pages on Facebook and Instagram, each of which have a highly-engaged community in a select career niche.</i></p>
    </div>
  </div>
  <div class="home_fifth-section">
    <div class="home_fifth-section_one">
      <%= image_tag 'https://images.pexels.com/photos/814822/pexels-photo-814822.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
    </div>
    <div class="home_fifth-section_two">
      <i class="fas fa-quote-left"></i>
      <p>
        It was really important to me to share my story, undertaking a Vacation Scheme at DLA Piper Dubai, as I knew it would help other students understand how to ace an application and what to expect from a career, or at least an internship, within commercial law. I couldn’t be more grateful to SIN for helping me realise what it is I want to achieve in my professional life, as well as how to do it!
      </p>
      <h6>Emilia Pell - Law Student</h6>
    </div>
  </div>
  <div class="home_sixth-section">
    <div class="home_sixth-section_one">
      <%=  image_tag 'https://images.pexels.com/photos/1181233/pexels-photo-1181233.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
    </div>
    <div class="home_sixth-section_two">

    </div>
  </div>
  <div class="home_seventh-section">

  </div>
  <div class="home_eigth-section">

  </div>
  <div class="home_ninth-section">
    <h4>ADVICE FROM STUDENTS AT</h4>
    <div class="home_ninth-section_logos">
      <%= image_tag 'google-logo.png' %>
      <%= image_tag 'airbnb-logo.png' %>
      <%= image_tag 'londonstock-logo.png' %>
      <%= image_tag 'kleiner-logo.png' %>
      <%= image_tag 'jpmorgan-logo.png' %>
      <%= image_tag 'goldman-logo.png' %>
    </div>
  </div>
</div>
<script src="bundle.js"></script>
