
<div class="employers">
  <div class="employers_left">
    <i class="fas fa-quote-left"></i>
    <p>This platform understands students' needs and challenges how information is being delivered to us.</p>
    <%= image_tag 'picforform1.png' %>
    <h5>Marianna Aturia</h5>
    <h6>Pharmacy Student, GSK & Freshfields</h6>
  </div>
  <div class="employers_right">
    <h2>Employer Form</h2>
    <p>Welcome to the employer sign up form, please fill in details and send us a detailed message about the type of candidates you are looking (skills, degrees, age, experience, etc.) We will do our best to respond to your query in the next 24hours. Thank you for your time and attention.</p>
    <%= simple_form_for @employer do |f| %>
      <%= f.input :company_name %>
      <%= f.input :contact_name %>
      <%= f.input :email %>
      <%= f.input :message %>
      <%= f.button :submit %>
    <% end %>
  </div>

</div>
